<h1>Agendas Invitation</h1>

<p>
<%= @greeting %> <%= @user.email %>, you are invited to a meeting in your organisation: <%= @meeting.organisation.name %>.
<br/>
This meeting is scheduled at <%= @meeting.schedule %>.
<br/>
This meeting is <%= @meeting.synchronicity == "sync" ? "synchronous" : "asynchronous" %>.
<br/>
You can participate by opening this link: <%= @meeting.url %>
</p>
